/* Initialisation */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #3e2a10;
    font-family: Arial;
    font-size: 0.75em;
    margin: 0;
    background-color: #c3b7ad;
}

figure, h2, h3, header, p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

ul a {
    color: #3e2a10;
}

/* Styles spécifiques */

#page {
    background-color: #fafaf6;
    padding: 1%;
}

@media screen and (min-width: 990px) {
    #page {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}

@media screen and (max-width: 990px) {
    #page {
        width: 98%;
    }
}

@media screen and (min-width: 600px) {
    header {
        overflow: hidden;
        background-color: #594a3e;
        padding-left: 1%;
    }

    header h2 {
        float: left;
        color: #fafaf6;
        margin-top: 1%;
        display: inline-block;
    }

    nav ul {
        margin: 1% 0 1% 0;
    }

    nav ul li {
        padding: 5px;
        margin-left: 1%;
        display: inline-block;
        background-color: #8c7764;

        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    nav ul li:hover {
        text-decoration: underline;
        color: #fafaf6;
    }
}

nav ul li a {
    text-decoration: none;
    color: #fafaf6;
}

/* Responsive */
@media screen and (max-width: 600px) {
    header {
        padding-left: 0;
    }

    header h2 {
        display: none;
    }

    nav ul li {
        background-color: #594a3e;
        padding: 1%;
    }

    nav ul li:hover {
        background-color: #8c7764;
    }
}

#contenuPrincipal, footer {
    overflow: hidden;
}

#contenuPrincipal {
    margin-bottom: 1%;
}

#logo {
    float: left;
    margin-right: 5%;
}

#logo img {
    width: 70px;
}

#contenuPrincipal #presAssociation,
#contenuPrincipal #presRealisations,
#contenuPrincipal #presFormations,
footer #listeLiens,
footer #listeRealisations,
footer #listeFormations {
    background-color: #ededed;

    -moz-box-shadow: inset 0 0 6px -2px #aaa;
    -webkit-box-shadow: inset 0 0 6px -2px #aaa;
    box-shadow: inset 0 0 6px -2px #aaa;
    border: 1px solid #cacaca;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;

    min-height: 250px;
    padding: 1%;
}

@media screen and (min-width: 500px) {
    #contenuPrincipal #presAssociation h3,
    #contenuPrincipal #presRealisations h3,
    #contenuPrincipal #presFormations h3,
    footer #listeLiens h3,
    footer #listeRealisations h3,
    footer #listeFormations h3 {
        margin-bottom: 2%;
    }

    #contenuPrincipal #presAssociation,
    footer #listeLiens {
        float: left;
        width: 30%;
    }

    #contenuPrincipal #presRealisations,
    footer #listeRealisations {
        float: right;
        width: 30%;
    }

    #contenuPrincipal #presFormations,
    footer #listeFormations {
        margin-left: 33%;
        margin-right: 33%;
    }
}

#contenuPrincipal .pivotant {
    display: none;
}

/* Début des cartes*/


.flip-container:hover .front, .flip-container .back{
	display:none;
}
.flip-container:hover .back, .flip-container .front{
 	 display:block;
}
	
/*Fin des cartes*/

/* Debut du slider */
#slider {
    margin: auto;
    height: 400px;
    overflow: hidden;
    position: relative;
}

#sliderImg {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    text-align: center;
    display: inline;
    
    -webkit-animation-name: AutoSlide;
    -moz-animation-name: AutoSlide;
    -ms-animation-name: AutoSlide;
    -o-animation-name: AutoSlide;
    animation-name: AutoSlide;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    -o-animation-duration: 15s;
    animation-duration: 15s;
    
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; 
    
}

@keyframes AutoSlide {
    0%,10%,100% {
        top: 0%; /*1ère image*/
    }
    
    30%,40% {
        top: -400px; /*2ème image*/
    }
    
    60%,90% {
        top: -800px; /*3ème image*/
    }
    
}

@-moz-keyframes AutoSlide {
    0%,10%,100% {
        top: 0%; /*1ère image*/
    }
    
    30%,40% {
        top: -400px; /*2ème image*/
    }
    
    60%,90% {
        top: -800px; /*3ème image*/
    }
    
}

@-webkit-keyframes "AutoSlide" {
    0%,10% {
        top: 0%; /*1ère image*/
    }
    
    40%,50% {
        top: -400px; /*2ème image*/
    }
    
    70%,80% {
        top: -800px; /*3ème image*/
    }
    
}

@-ms-keyframes "AutoSlide" {
    0%,30%,100% {
        top: 0%; /*1ère image*/
    }
    
    30%,60% {
        top: -400px; /*2ème image*/
    }
    
    60%,90% {
        top: -800px; /*3ème image*/
    }
    
}


@-o-keyframes "AutoSlide" {
    0%,30%,100% {
        top: 0%; /*1ère image*/
    }
    
    30%,60% {
        top: -400px; /*2ème image*/
    }
    
    60%,90% {
        top: -800px; /*3ème image*/
    }
    
}

.imgSlider {
    max-width: 100%;
    display: inline;
}

#slider figure {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
}
/* Fin du slider */
.lienDroite {
    margin-top:15px;
    float:right;
    
}
